.spotlight {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #EFEFEF 50%);
    padding: 70px 10px 70px 10px;
}

.spotlight__wrapper {
    margin: 0 auto;
    max-width: 1640px;
    text-align: center;
    position: relative;
    height: 780px;
    z-index: 2;
}

.spotlight__heading {
    font-family: Dax;
    font-size: 32px;
    color: black;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.spotlight__subheading {
    font-family: Arial;
    font-size: 22px;
    color: black;
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
    font-weight: 400;
}

.spotlight__image {
    height: 500px;
    width: 800px;
    background-color: black;
    position: absolute;
    right: 110px;
    top: 250px;
    z-index: -1;
}

.spotlight__box {
    background-color: rgba(51, 51, 51, 0.9);
    padding: 30px 40px;
    max-width: 536px;
    text-align: left;
}

.spotlight__box-text {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial;
    font-size: 28px;
    margin-bottom: 30px;
    line-height: 50px;
}

.spotlight__box-link {
    text-decoration: none;
    color: white;
    font-family: Dax;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
}

.spotlight__pattern--grey {
    height: 398px;
    width: 402px;
    background-color: #D1D1D1;
    position: absolute;
    left: 100px;
    bottom: 50px;
    transform: rotate(-5deg);
    z-index: -3;
    display: none;
}

.spotlight__pattern--white {
    height: 388px;
    width: 392px;
    background: repeating-linear-gradient(-45deg, #ffffff, #ffffff 2px, transparent 2px, transparent 8px);
    position: absolute;
    left: 190px;
    bottom: 10px;
    z-index: -2;
    display: none;
}

.spotlight__pattern--black {
    height: 200px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    right: 280px;
    top: 200px;
    transform: rotate(-5deg);
    z-index: -2;
    display: none;
}

.spotlight__pattern--red {
    height: 398px;
    width: 402px;
    background-color: #D52B1E;
    position: absolute;
    right: 10px;
    top: 160px;
    transform: rotate(5deg);
    z-index: -3;
    display: none;
}

@media screen and (min-width: $desktop){
    .spotlight__image {
        height: 576px;
        width: 1024px;
    }
}
@media screen and (min-width: $tablet){
    .spotlight__heading {
        font-size: 48px;
    }
    .spotlight__subheading {
        font-size: 28px;
    }
    .spotlight__pattern--grey {
        display: block;
    }
    
    .spotlight__pattern--white {
        display: block;
    }
    
    .spotlight__pattern--black {
        display: block;
    }
    
    .spotlight__pattern--red {
        display: block;
    }
    .spotlight {
        padding: 70px 70px 70px 70px;
    }
}