.spotlight {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, $bg-grey 50%);
    padding: 70px 0;
    &__wrapper {
        margin: 0 auto;
        max-width: 1640px;
        text-align: center;
        position: relative;
        z-index: 2;
    }
    &__heading {
        font-family: $base-font-family;
        font-size: 32px;
        color: $black;
        margin: 0;
        padding: 0 10px;
        font-weight: 600;
    }
    &__subheading {
        font-family: $alt-font-family;
        font-size: 22px;
        color: $black;
        margin: 0;
        padding: 0 10px;
        margin-bottom: 40px;
        font-weight: 400;
    }
    &__image {
        height: 500px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    &__video {
        height: 500px;
        width: 800px;
        position: absolute;
        right: 110px;
        top: 250px;
        z-index: -1;
        iframe {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
    }
    &__box {
        background-color: rgba(51, 51, 51, 0.9);
        padding: 30px 40px;
        max-width: 536px;
        text-align: left;
        margin: 0 10px;
        margin-top: 500px;
        &-text {
            margin: 0;
            padding: 0;
            color: $white;
            font-family: $alt-font-family;
            font-size: 28px;
            margin-bottom: 30px;
            line-height: 50px;
        }
        &-link {
            text-decoration: none;
            color: $white;
            font-family: $base-font-family;
            font-size: 20px;
            display: block;
            margin-bottom: 20px;
            &:hover {
                .spotlight__box-link__arrow {
                    transform: translateX(15px);
                }
            }
            &__arrow {
                float: right;
                padding-top: 5px;
            }
        }
    }
    &__pattern {
        &--grey {
            height: 398px;
            width: 402px;
            background-color: $grey-light;
            position: absolute;
            left: 100px;
            bottom: -500px;
            transform: rotate(-5deg);
            z-index: -3;
            display: none;
        }
        &--white {
            height: 388px;
            width: 392px;
            background: repeating-linear-gradient(-45deg, $white, $white 2px, transparent 2px, transparent 8px);
            position: absolute;
            left: 190px;
            bottom: -350px;
            z-index: -2;
            display: none;
        }
        &--black {
            height: 200px;
            width: 350px;
            background-color: rgba(0, 0, 0, 0.9);
            position: absolute;
            right: 280px;
            top: 500px;
            transform: rotate(-5deg);
            z-index: -2;
            display: none;
        }
        &--red {
            height: 398px;
            width: 402px;
            background-color: $red;
            position: absolute;
            right: 10px;
            top: 600px;
            transform: rotate(5deg);
            z-index: -3;
            display: none;
        }
    }
}

@media screen and (min-width: $tablet){
    .spotlight__heading {
        font-size: 48px;
        padding: 0;
    }
    .spotlight__subheading {
        font-size: 28px;
        padding: 0;
        margin-bottom: 80px;
    }
    .spotlight__pattern--grey {
        display: block;
    }
    
    .spotlight__pattern--white {
        display: block;
    }
    
    .spotlight__pattern--black {
        display: block;
    }
    
    .spotlight__pattern--red {
        display: block;
    }
    .spotlight {
        padding: 70px 70px 70px 70px;
    }
    .spotlight__wrapper {
        height: 780px;
    }
    .spotlight__image {
        width: 800px;
        right: 110px;
        top: 250px;
    }
    .spotlight__box {
        margin: 0;
    }
}

@media screen and (min-width: $desktop){
    .spotlight__image {
        height: 576px;
        width: 1024px;
    }
    .spotlight__video {
        height: 576px;
        width: 1024px;
    }
}