// Base font
$base-font-scale: 1; // The font scale multiplier (e.g. 2 = 32px/2em/2rem)
$base-font-pixel: 16; // Used for font size calculations & conversions
$base-font-family: Dax;
$alt-font-family: Arial;
$base-font-colour: #4a4a4a;

// Selection highlighting
$content-selection-highlight: #b3d4fc;

// Default breakpoints
$tablet: 769px;
$desktop: 1300px;

// Colours
$black: #000000;
$white: #ffffff;
$red: #d52b1e;
$red-dark: #bd251a;
$grey-dark: #333333;
$grey-medium: #4d4d4d;
$grey-light: #d1d1d1;
$bg-grey: #efefef;

$font-xs: 1.333rem; // 12px
$font-s: 1rem; // 16px
$font-l: 1.25rem; // 20px
$font-xl: 1.5rem; // 24px
$font-xxl: 2.25rem; // 36px
$font-xxxl: 3.25rem; // 52px

$section-margin-mobile: 3.125rem;
$section-margin-desktop: 4.6875rem;
