.infographics {
    padding: 0;
    margin-bottom: $section-margin-mobile;
    text-align: center;

    .slick-dots {
        padding: 1rem 0 3.125rem;

        button {
            border: 2px solid $red;
        }

        li.slick-active button {
            background-color: $red;
            box-shadow: inset 0 0 0 3px $bg-grey;
        }
    }

    &__grey-wrapper {
        text-align: center;
        background: $bg-grey;
        margin-top: pxToRem(
            115
        ); // 75px - half of circle + 40px additional margin
        padding-bottom: pxToRem(50);
        position: relative;
    }

    &__list {
        display: block;
        margin-bottom: pxToRem(60);
        transform: translateY(#{pxToRem(-75)});
        margin-bottom: pxToRem(-75);
        z-index: 2;
        position: relative;
    }

    &__item {
        text-align: center;
        margin: 0 pxToRem(40) pxToRem(20) pxToRem(40);
        z-index: 8;

        & .fas, & .fab {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $white;
            font-size: pxToRem(50);
        }

        &-circle {
            height: pxToRem(150);
            width: pxToRem(150);
            background-color: $grey-dark;
            border-radius: 50%;
            display: inline-block;
            margin-bottom: pxToRem(20);
            position: relative;
        }

        &-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: pxToRem(40);
        }

        &-title {
            color: $black;
            font-family: $alt-font-family;
            font-size: $font-s;
            margin: 0 auto;
            padding: 0;
            max-width: pxToRem(250);
        }
    }

    &__pattern {
        &--white1 {
            height: pxToRem(228);
            width: pxToRem(232);
            background: repeating-linear-gradient(
                -45deg,
                $white,
                $white 2px,
                transparent 2px,
                transparent 8px
            );
            position: absolute;
            left: pxToRem(100);
            bottom: pxToRem(-210);
            display: none;
        }

        &--white2 {
            height: pxToRem(228);
            width: pxToRem(232);
            background: repeating-linear-gradient(
                -45deg,
                $white,
                $white 2px,
                transparent 2px,
                transparent 8px
            );
            position: absolute;
            right: pxToRem(100);
            bottom: pxToRem(250);
            display: none;
        }
    }
}

@media screen and (min-width: $tablet) {
    .infographics {
        margin-bottom: $section-margin-desktop;

        &__grey-wrapper {
            padding-bottom: pxToRem(100);
        }

        &__list {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        &__item {
            margin: 0 pxToRem(10) pxToRem(70) pxToRem(10);
        }
    }
}

@media screen and (min-width: $desktop) {
    .infographics {
        &__pattern--white1,
        &__pattern--white2 {
            display: block;
        }
    }
}
