.search-screen {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    display: none;
    &.active {
        display: block;
    }
}

.search-screen__top {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-screen__top-close {
    margin-right: 10px;
}

.search-screen__content {
    margin: 0 auto;
    margin-top: 100px;
    height: 60px;
    width: 1070px;
}

.search-screen__search-wrapper {
    position: relative;
    & input[type="text"] {
        height: 80px;
        width: 100%;
        font-family: $alt-font-family;
        font-size: 48px;
        color: $white;
        padding-left: 20px;
        background-color: transparent;
        border: none;
        border-bottom: 4px solid white;
    }
}

.search-screen__search-btn {
    position: absolute;
    right: 30px;
    top: 10px;
    width: 40px;
    height: 40px;
    z-index: 1;
    cursor: pointer;
    background-image: url('./files/search-white.png');
    background-color: transparent;
    border: none;
}

.search-screen__content .twitter-typeahead .tt-menu {
    background-color: transparent;
    margin-top: 5px;
    font-family: Arial;
    font-size: 22px;
    width: 100%;
}

.search-screen__content .twitter-typeahead .tt-suggestion {
    color: $white;
    &:hover {
        background-color: $black;
    }
}

.search-screen__content .twitter-typeahead .tt-dataset.tt-dataset-mdxGlobal {
    padding-bottom: 40px;
    border-bottom: 1px solid $white;
}

.search__suggestion-header {
    font-family: Dax;
    font-size: 32px;
    color: $white;
    margin-left: 18px;
    margin-bottom: 0;
}

.search__suggestion-component {
    width: 50%;
}