.footer {
    &__socials {
        background-color: rgba(209, 209, 209, 0.45);
        padding: 60px 0;
        &-wrapper {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 850px;
            align-items: center;
        }
        &-title {
            color: $black;
            font-size: 28px;
            font-family: $base-font-family;
            padding-right: 30px;
            font-weight: 600;
        }
    }
    &__social-links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    &__contact-us {
        color: $white;
        background-color: $red;
        text-decoration: none;
        display: block;
        padding: 18px 70px;
        font-size: 22px;
        font-family: $base-font-family;
        margin-bottom: 50px;
        font-weight: 800;
        &:hover {
            background-color: $red-dark;
        }
    }
    &__links {
        background-color: $grey-medium;
        padding: 70px 0;
        &-wrapper {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 1100px;
            align-items: center;
            text-align: center;
            padding: 0 10px;
        }
        &-column {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        &-item {
            padding: 15px 0;
        }
    }
    &-link {
        color: $white;
        text-decoration: none;
        font-family: $alt-font-family;
        font-size: 22px;
    }
    &__contact-item {
        color: $white;
        font-family: $alt-font-family;
        font-size: 22px;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
    }
    &__contact-info {
        padding-top: 15px;
    }
}

.fa-twitter, .fa-facebook-f, .fa-youtube, .fa-instagram, .fa-linkedin {
    font-size: 34px;
    color: $black;
    padding-right: 30px;
}

@media screen and (min-width: $tablet){
    .footer__socials-wrapper {
        flex-direction: row;
    }

    .footer__links-wrapper {
        flex-direction: row;
        text-align: left;
        align-items: flex-start;
        padding: 0;
    }
    .footer__links-column {
        margin: 0;
    }
    .footer__contact-us {
        margin-bottom: 0;
    }
}